@{
    ViewBag.Title = "About";
}
<h1 style="text-align:center">@ViewBag.Title</h1>
<div class="row-fluid">
    <div class="span12">
        <p style="font-size: medium;margin:0 10% 5% 10%">Our mission is to provide our students with all the up to date knowledge to prepare them for the world. Our teachers are committed to consistant and reliable education. <br />It is important more than ever that young people understand what is going on around them and how to deal with life decisions for their future. And we feel that our Institute is going to be a great decision in that future.<br /> Enroll now to begin your new life at Back Row State Technical Institute, or take a look at our wide arange of courses! We are a growing Institute and hope to see more new faces join us very soon!</p>
    </div>
</div>