@{
    ViewBag.Title = "Contact";
}
<h1 style="text-align:center">@ViewBag.Title</h1>
<div style=" margin:0 10% 5% 10%">
    <h3>
        1108 E 10th St, Kansas City, MO 64106<br />
        Phone Number: +1 (913)-420-2319
    </h3>

    <h3>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:ZTMallicoat@gmail.com">ZTMallicoat@gmail.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:tmfierro@outlook.com">TMFierro@outlook.com</a>
    </h3>
</div>