@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        1108 E 10th St, Kansas City, MO 64106<br />
        Phone Number: +1 (913)-420-2319
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:ZTMallicoat@gmail.com">ZTMallicoat@gmail.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:tmfierro@outlook.com">TMFierro@outlook.com</a>
    </address>
</div>